
input{
    outline: none;
    padding: 16px 20px;
    width: 270px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f2f5;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
    height: 10px;
}

.box-form{
    margin:20px ;
    padding-left: 10px;
}

button{
    padding: 16px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 140px;
    height: 45px;
    cursor: pointer;
    background-color: rgb(210, 245, 233);
    color: black;
    font-weight: 600;
    font-size: 16px;
    max-width: 350px;
    margin: 10px;
    margin-left: 20px;
}

.box{
    width: 300px;
    height: 400px;
    margin: 0 auto 0 auto;
    margin-top: 20px;
}


.logo{
   padding-left: 20px;
    width: 310px;
    height: 100px;
    margin: 0 auto 0 auto;
}


